<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Content</title>
    <link rel='stylesheet' href="/public/css/content-style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <style>
        [name='upnav']{
            margin-bottom: 0;
            position: relative;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default" name='upnav'>
    <button type="button" class="btn btn-default create" aria-label="Left Align" onclick="window.location.href='/admin/create'">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
</nav>
<div id="content">
    <table class="table table-responsive table-bordered table-striped">
        <tr>
            <th class="text-center">暂时</th>
            <th class="text-center">先</th>
            <th class="text-center">这样</th>
            <th class="text-center">吧</th>
            <th class="text-center">我累了</th>
        </tr>
        {% for content in contents %}
        <tr>
            <td>{{ content.idName }}</td>
            <td>{{ content.name }}</td>
            <td>{{ content.password }}</td>
            <td>{{ content.describe }}</td>
            <td>{{ content.newPassword }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container"></div>
</div>


<script src="../../public/js/jquery.js"></script>
<script src="../../public/js/bootstrap.js"></script>
<script>

</script>
</body>
</html>