<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel='stylesheet' href="/public/css/content-style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <style>
        [name=admin-content]{height: 1100px;position: absolute;}
        .nav-border{margin-bottom:0;border-bottom: 1px solid black;width: 100vw;}
    </style>
</head>
<body>
<!-- .visible-md .visible-lg-->
<div id="pc">
    <div>
        <nav class='navbar navbar-default nav-border'>
            <div class="row h50">
                <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 h50 curdiv" id="more" title="更多">
                    <span class="glyphicon glyphicon-menu-hamburger midb mida" aria-hidden="true"></span>
                </div>
                <div class='col-sm-3 col-xs-3 col-md-3 col-lg-3 h50 iconmid' id="user" title="个人中心">
                    <div class='midb'>
                        <span class="glyphicon glyphicon-user mida" aria-hidden="true"></span>
                    </div>
                </div> 
                <div class='col-sm-3 col-xs-3 col-md-3 col-lg-3 h50 iconmid' id="diary" title="记录心得">
                    <div class="midb">
                        <span class="glyphicon glyphicon-edit mida" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='col-sm-3 col-xs-3 col-md-3 col-lg-3 h50 iconmid' id="edit" title="习惯养成">
                    <div class="midb">
                        <span class="glyphicon glyphicon-list-alt mida" aria-hidden="true"></span>
                    </div>
                </div>   
                <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 h50" style="background: #f8f8f8;"></div>
                <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 h50 curdiv" id="exit" title="退出登录">
                    <span class="glyphicon glyphicon-off midb mida" aria-hidden="true"></span>
                </div>       
            </div>
        </nav>        
    </div>
    <div class="main-content">
        <div id="more-content">
            <div class="flex-s">
                <div class="contentChoice curdiv" id="choice1">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </div>
                    个人中心
                </div>
                <div id="forChoice1" class="forc">
                    <div class="forChoice curdiv" id="choice11">个人中心</div>
                    <div class="forChoice curdiv" id="choice12">编辑资料</div>
                    <div class="forChoice curdiv" id="choice13">修改密码</div>
                </div>
                <div class="contentChoice curdiv" id="choice2">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </div>
                    个人心得
                </div>
                <div id="forChoice2" class="forcc">
                    <div class="forChoice curdiv" id="choice21">个人心得</div>
                    <div class="forChoice curdiv" id="choice22">添加心得</div>
                </div>
                <div class="contentChoice curdiv" id="choice3">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    </div>
                    Habit
                </div>
                <div id="forChoice3" class="forcc">
                    <div class="forChoice curdiv" id="choice31">Habit</div>
                    <div class="forChoice curdiv" id="choice32">添加Habit</div>
                </div>
                <div class="contentChoice curdiv" id="choice4">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                    </div>
                    关于我们
                </div>
                <div class="contentChoice curdiv" id="choice5">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </div>
                    退出登录
                </div>
            </div>
        </div>
        <div id="content" name="admin-content">
           <div class="daily-title">个人中心</div>   
           <div id="userInfo">
               <div id='userImg'>
                   <div id="circle"></div>
               </div>
               <div id="userDes" class="row" style="margin:0;">
                    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 h100"></div>
                    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 h100 doc">
                        {% for user in users %}
                            {% if user._id == userInfo._id %}
                                用户{{ user.name }}，<br/>
                                生于{{ user.birthday }}。<br/>
                                平日靠{{ user.email }}与外界交流。<br/>
                                他最喜欢说的是，{{ user.describtion }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 h100"></div>
               </div>
           </div>
           <div id="goNen">
               <div id="cards">
                   <div class="cards curdiv" onclick="window.location.href='/admin/userInfo'">编辑个人资料页（占位）</div>               
                   <div class="cards curdiv">添加Habit</div>               
                   <div class="cards curdiv" onclick="window.location.href='/admin/write'">记录心得</div>               
                   <div class="cards curdiv">仍在开发</div>                             
                   <div class="cards curdiv">修改密码</div>         
                   <div class="cards curdiv" onclick="window.location.href='/admin/about'">关于我们</div>       
               </div>
           </div>
        </div>
    </div>
        
</div>
<!-- mobile-->
<div id="mobile">
    <div id="mobile-title">个人中心</div>
    <div class="flex now">
        <div class="layer-g">
            <div id="mobile-content" class="white">
                <div id="mobile-img">
                    <div class="mobile-image"></div>
                    <div class="mobile-username">
                    {% for user in users %}
                        {% if user._id == userInfo._id %}
                        <span class="sp1">
                            {{ user.name }}
                        </span>
                        <span class="sp2">
                            {{ user.username }}
                        </span>
                        {% endif %}
                    {% endfor %}
                    </div>
                    <div class="sp3" onclick="window.location.href='/admin/mobile-user'">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="gap"></div>
                <div class="h60" id="mobile-userInfo">
                    <div class="flex">
                        <div class="sp5">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </div>
                        <div class="sp6">
                            修改资料
                        </div>
                    </div>
                    <div class="sp4">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="h60">
                    <div class="flex">
                        <div class="sp5">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                        </div>
                        <div class="sp6 border1">
                            添加Habit
                        </div>
                    </div>
                    <div class="sp4">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="h60">
                    <div class="flex">
                        <div class="sp5">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                        </div>
                        <div class="sp6 border1" id="mobile-dailywrite">
                            记录心得
                        </div>
                    </div>
                    <div class="sp4">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="h60 border" onclick="window.location.href='/admin/mobile-pwd'">
                    <div class="flex">
                        <div class="sp5">
                            <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
                        </div>
                        <div class="sp6 border1">
                            修改密码
                        </div>
                    </div>
                    <div class="sp4">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </div>
                </div>
                <div class="gap"></div>
                <div class="h60 border" onclick="window.location.href='/'">
                    <div class="flex">
                        <div class="sp5">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </div>
                        <div class="sp6">
                            退出登录
                        </div>
                    </div>
                    <div class="sp4">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </div>
                </div>
                <nav id="mobile-none" class="navbar navbar-default navbar-fixed-bottom vh10">
                    <div class="vw34 active" id="mobile-user">
                        <span class="glyphicon glyphicon-user mida" aria-hidden="true"></span>
                    </div>
                    <div class="vw33" id="mobile-diary">
                        <span class="glyphicon glyphicon-edit mida" aria-hidden="true"></span>
                    </div>
                    <div class="vw33" id="mobile-edit">
                        <span class="glyphicon glyphicon-list-alt mida" aria-hidden="true"></span>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>


<script src="../../public/js/jquery.js"></script>
<script src="../../public/js/bootstrap.js"></script>
<script src="../../public/js/admin.js"></script>
<script>

</script>
</body>
</html>