<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel='stylesheet' href="/public/css/content-style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <style>
        .nav-border{margin-bottom:0;border-bottom: 1px solid black;width: 100vw;}
    </style>
</head>
<body>
<!-- .visible-md .visible-lg-->
<div id="pc">
    <div>
        <nav class='navbar navbar-default nav-border'>
            <div class="row h50">
                <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 h50 curdiv" id="more" title="更多">
                    <span class="glyphicon glyphicon-menu-hamburger midb mida" aria-hidden="true"></span>
                </div>
                <div class='col-sm-3 col-xs-3 col-md-3 col-lg-3 h50 iconmid' id="user" title="个人中心">
                    <div class='midb'>
                        <span class="glyphicon glyphicon-user mida" aria-hidden="true"></span>
                    </div>
                </div> 
                <div class='col-sm-3 col-xs-3 col-md-3 col-lg-3 h50 iconmid' id="diary" title="记录心得">
                    <div class="midb">
                        <span class="glyphicon glyphicon-edit mida" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='col-sm-3 col-xs-3 col-md-3 col-lg-3 h50 iconmid' id="edit" title="习惯养成">
                    <div class="midb">
                        <span class="glyphicon glyphicon-list-alt mida" aria-hidden="true"></span>
                    </div>
                </div>   
                <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 h50" style="background:#f8f8f8"></div>
                <div class="col-sm-1 col-xs-1 col-md-1 col-lg-1 h50 curdiv" id="exit" title="退出登录">
                    <span class="glyphicon glyphicon-off midb mida" aria-hidden="true"></span>
                </div>       
            </div>
        </nav>        
    </div>
    <div style="display:flex;flex-wrap:nowrap;">
        <div id="more-content">
        
        </div>
        <div id="content" name="admin-content">
           <div id="userInfo">
               <div id='userImg'>
                   <div id="circle">
                        头像（占位）
                   </div>
               </div>
               <div id="userDes" class="row" style="margin:0;">
                    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 h100"></div>
                    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 h100 doc">
                        {% for user in users %}
                            {% if user._id == userInfo._id %}
                                {{ user.name }}<br/>
                                {{ user.birthday }}<br/>
                                {{ user.email }}<br/>
                                {{ user.describtion }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-sm-4 col-xs-4 col-md-4 col-lg-4 h100"></div>
               </div>
           </div>
           <div id="goNen">
               <div id="cards">
                   <div class="cards curdiv" onclick="window.location.href='/admin/userInfo'">编辑个人资料页（占位）</div>               
                   <div class="cards curdiv"></div>               
                   <div class="cards curdiv"></div>               
                   <div class="cards curdiv"></div>               
                   <div class="cards curdiv"></div>               
                   <div class="cards curdiv">修改密码</div>               
               </div>
           </div>
           <div style="width:100%;height:100px;"></div>
        </div>
    </div>
        
</div>
<!-- mobile-->
<div id="mobile">
    <div id="mobile-content">
        <nav id="mobile-none" class="navbar navbar-default navbar-fixed-bottom vh10">
            <div class="vw34 active" id="mobile-user">
                <span class="glyphicon glyphicon-user mida" aria-hidden="true"></span>
            </div>
            <div class="vw33" id="mobile-diary">
                <span class="glyphicon glyphicon-edit mida" aria-hidden="true"></span>
            </div>
            <div class="vw33" id="mobile-edit">
                <span class="glyphicon glyphicon-list-alt mida" aria-hidden="true"></span>
            </div>
        </nav>
    </div>
</div>


<script src="../../public/js/jquery.js"></script>
<script src="../../public/js/bootstrap.js"></script>
<script src="../../public/js/admin.js"></script>
<script>

</script>
</body>
</html>