<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>记录点点滴滴</title>
    <link rel='stylesheet' href="/public/css/content-style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <script src="../../public/js/jquery.js"></script>
    <style>
        .nav-border{margin-bottom:0;border-bottom: 1px solid black;width: 100vw;}
    </style>
</head>
<body>
<div id='pc'>
    <nav class='navbar navbar-default nav-border'>
        <div class="row h50">
            <div class="col-md-1 col-lg-1 h50 curdiv" id="more" title="更多">
                <span class="glyphicon glyphicon-menu-hamburger midb mida" aria-hidden="true"></span>
            </div>
            <div class='col-md-3 col-lg-3 h50 iconmid' id="user" title="个人中心">
                <div class='midb'>
                    <span class="glyphicon glyphicon-user mida" aria-hidden="true"></span>
                </div>
            </div> 
            <div class='col-md-3 col-lg-3 h50 iconmid' id="diary">
                <div class="midb">
                    <span class="glyphicon glyphicon-edit mida" aria-hidden="true"></span>
                </div>
            </div>
            <div class='col-md-3 col-lg-3 h50 iconmid' id="edit">
                <div class="midb">
                    <span class="glyphicon glyphicon-list-alt mida" aria-hidden="true"></span>
                </div>
            </div>   
            <div class="col-md-1 col-lg-1 h50 curdiv" aria-label="Left Align" onclick="window.location.href='/admin/write'">
                <span class="glyphicon glyphicon-plus midb mida" aria-hidden="true"></span>
            </div>
            <div class="col-md-1 col-lg-1 h50 curdiv" id="exit" title="退出登录">
                <span class="glyphicon glyphicon-off midb mida" aria-hidden="true"></span>
            </div>       
        </div>
    </nav>
    <div class="flex">
        <div id="more-content">
            <div class="flex-s">
                <div class="contentChoice curdiv" id="choice1">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </div>
                    个人中心
                </div>
                <div id="forChoice1" class="forc">
                    <div class="forChoice curdiv" id="choice11">个人中心</div>
                    <div class="forChoice curdiv" id="choice12">编辑资料</div>
                    <div class="forChoice curdiv" id="choice13">修改密码</div>
                </div>
                <div class="contentChoice curdiv" id="choice2">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </div>
                    个人心得
                </div>
                <div id="forChoice2" class="forc">
                    <div class="forChoice curdiv" id="choice21">个人心得</div>
                    <div class="forChoice curdiv" id="choice22">添加心得</div>
                    <div class="forChoice curdiv" id="choice23">编辑心得</div>
                </div>
                <div class="contentChoice curdiv" id="choice3">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    </div>
                    Habit
                </div>
                <div id="forChoice3" class="forc">
                    <div class="forChoice curdiv" id="choice31">Habit</div>
                    <div class="forChoice curdiv" id="choice32">添加Habit</div>
                    <div class="forChoice curdiv" id="choice33">编辑Habit</div>
                </div>
                <div class="contentChoice curdiv" id="choice4">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                    </div>
                    关于我们
                </div>
                <div class="contentChoice curdiv" id="choice5">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </div>
                    退出登录
                </div>
            </div>
        </div>
        <div id='content' class="fixed">
            <div id="null">
                <p>还没开始记录呢~</p>
            </div>
        <script> 
            var i = 1 ;
        </script>
        {% for daily in dailies %}
        <script>
            i = i + 1;
        </script>
        {% endfor %}
        <script>
            if(i === 1){
                $("#null").show();
                $("#content").css('height','100vh');
            }
            else{
                $("#null").hide();
                $("#content").css('height','calc(100vh + '+400*(i-2)+'px');
            }
        </script>
        {% for daily in dailies %}
            <div class="daily">
                <div class="daily-title">
                    <span>{{ daily.title }}</span>
                    <input value="{{ daily.title }}" class="none" id="d-t">
                </div>
                <div class="daily-date">
                    <span>{{ daily.date }}</span>
                    <input value="{{ daily.date }}" class="none" id="d-d">
                </div>
                <div class="daily-content">
                    <p>{{ daily.content }}</p>
                    <input value="{{ daily.content }}" class="none" id="d-c">
                </div>
                <div class="daily-hide">
                    <span>……</span>
                </div>
                <div style="display:flex;flex-flow:row nowrap;width: 100%;height: 100px;;">
                    <div class="edit-more curdiv">
                        <a href="/admin/daily-edit?id={{ daily._id.toString() }}" class="daily-a">编辑心得</a>
                    </div>
                    <div class="read-more curdiv">
                        <a class="daily-a">阅读更多</a>
                    </div>
                    <div class="deleteDaily curdiv">
                        删除
                    </div>
                    <input value="{{ daily.user }}" class="none" id="d-u">
                    <input value="{{ daily._id }}" class="none" id="d-i">
                </div>
            </div>      
        {% endfor %}
        </div>
    </div>
</div>
<!--mobile-->
<div id="mobile">
    <div id="mobile-content"  class="mobile-diary">
        <div id="mobile-title">个人心得</div>
        <div class="jintianhaoleia">
            <div id="mobile-null">
                <span>还没开始记录呢~</span>
            </div>
        <script> 
            var j = 1 ;
        </script>
        {% for daily in dailies %}
        <script>
            j = j + 1;
        </script>
        {% endfor %}
        <script>
            if(j === 1){
                $("#mobile-null").show();
            }
            else{
                $("#mobile-null").hide();
                $("#mobile-content").css('height','calc(100vh + '+264*(j-3)+'px - 60px');
                
            }
        </script>
        {% for daily in dailies %}
            <div class="mobileDaily">
                <div class="mobileDaily-title">
                    <span>{{ daily.title }}</span>
                    <input value="{{ daily.title }}" class="none" id="md-t">
                </div>
                <div class="mobileDaily-date">
                    <span>{{ daily.date }}</span>
                    <input value="{{ daily.date }}" class="none" id="md-d">
                </div>
                <div class="mobileDaily-content">
                    <p>{{ daily.content }}</p>
                    <input value="{{ daily.content }}" class="none" id="md-c">
                </div>
                <div class="mobileDaily-hide">
                    <span>…………</span>
                </div>
                <div style="display:flex;flex-flow:row nowrap;width: 100%;">
                    <div class="dailyRead">
                        <a href="/admin/mobile-edit?id={{ daily._id.toString() }}" class="daily-a">编辑心得</a>
                    </div>
                    <div class="dailyRead">
                        <a class="daily-a">阅读更多</a>
                    </div>
                    <div class="dailyRead none">
                        <a class="daily-a">删除</a>
                    </div>
                    <input value="{{ daily.user }}" class="none" id="md-u">
                    <input value="{{ daily._id }}" class="none" id="md-i">
                </div>
            </div>      
        {% endfor %}
        </div>

        <nav id="mobile-none" class="navbar navbar-default navbar-fixed-bottom vh10">
            <div class="vw34" id="mobile-user">
                <span class="glyphicon glyphicon-user mida" aria-hidden="true"></span>
            </div>
            <div class="vw33 active" id="mobile-diary">
                <span class="glyphicon glyphicon-edit mida" aria-hidden="true"></span>
            </div>
            <div class="vw33" id="mobile-edit">
                <span class="glyphicon glyphicon-list-alt mida" aria-hidden="true"></span>
            </div>
        </nav>
    </div>
</div>

<script src="../../public/js/admin.js"></script>
<script src="../../public/js/bootstrap.js"></script>
<script>
    
</script>

</body>
</html>