<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>关于我们</title>
    <link rel='stylesheet' href="/public/css/mobile.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <style>
        [name='upnav']{
            margin-bottom: 0;
            position: relative;
            width: 100vw;
            display: flex;
            flex-wrap: wrap;
        }
                    
    </style>
</head>
<body>
<nav class="navbar navbar-default" name='upnav'>
    <div id="back" class="sp11">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </div>
    <div class="mobile-title">关于我们</div>
</nav>

<div id="user-content">
    <div class="my-img"></div>
    <div class="my-p">
        应用名，Habit。<br>
        灵感来源于Keep，貌似Habit也是一个不错的名字呢。<br>
        本作品由团队完成。<br>
        组长就是正在打下这行字的我，zhy(阴天），负责前后端以及服务器架设和web应用部署。<br>
        组员ssw，负责一部分前端页面设计和美工。<br>
        组员bq，负责一部分文案和方案构思。<br>
        这个web应用我知道还有很多不足之处(尤其是应用架构和安全方面，导致代码过多并且难以维护)，但是最近时间不太多。(要陪对象的)<br>
        以后有机会的话，我会重构并优化页面设计和前后端交互，并且增加安全保护(防止xss攻击等)。<br>
        暂时先写到这了，谢谢你的观看。<br>
        此作品献给我刚出院的外公。<br>
        离开浙江到黑龙江上学，一年回一次家见老人，见一次少一次。平时一旦知道消息却往往是生病的消息。<br>
        父母在，不远游。古人诚不欺我。<br>
    </div>
</div>






<script src="../../public/js/jquery.js"></script>
<script src="../../public/js/admin.js"></script>
<script src="../../public/js/bootstrap.js"></script>
<script>

</script>
</body>
</html>