<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>编辑心得</title>
    <link rel='stylesheet' href="/public/css/mobile.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <style>
        [name='upnav']{
            margin-bottom: 0;
            position: relative;
            width: 100vw;
        }
                    
    </style>
</head>
<body>
<nav class="navbar navbar-default" name='upnav'>
    <div id="back" class="sp11">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </div>
</nav>

<div id="content">
    <div class="form-group">
        <label for="mobileE-title">修改标题:</label>
        <input type="input" class="form-control" id="mobileE-title" placeholder="{{ dailies.title }}">    
    </div>
    <div class="form-group">
        <label for="mobileE-writeContent">修改心得:</label>
        <textarea id="mobileE-writeContent" class="form-control" rows="8">{{ dailies.content }}</textarea>
    </div>
    <div class="form-group">
            <label for="mobileE-date">修改日期：</label>
            <input type="datetime-local" class="form-control" id="mobileE-date">    
        </div>
    <button class="btn btn-default mb" id="mobileE-sub">提交</button>    
    
    <input class="mobile-username" value="{{ userInfo.username }}">
    <input class="mobile-dailyid" value="{{ dailies._id.toString() }}">
</div>






<script src="../../public/js/jquery.js"></script>
<script src="../../public/js/admin.js"></script>
<script src="../../public/js/bootstrap.js"></script>
<script>

</script>
</body>
</html>