<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>记录心得</title>
    <link rel='stylesheet' href="/public/css/mobile.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <style>
        [name='upnav']{
            margin-bottom: 0;
            position: relative;
            width: 100vw;
        }
                    
    </style>
</head>
<body>
<nav class="navbar navbar-default" name='upnav'>
    <div id="bac" class="sp11" onclick="window.location.href='/admin/diary'">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </div>
</nav>
<div id="content">
    <div class="form-group">
        <label for="mobile-title">标题:</label>
        <input type="input" class="form-control" id="mobile-title" placeholder="请输入标题">    
    </div>
    <div class="form-group">
        <label for="mobile-writeContent">心得:</label>
        <textarea id="mobile-writeContent" class="form-control" rows="8"></textarea>
    </div>
    <div class="form-group">
            <label for="mobile-date">发表日期：</label>
            <input type="datetime-local" class="form-control" id="mobile-date">    
        </div>
    <button class="btn btn-default mb" id="mobileWrite-sub">提交</button>           
</div>

<input class="mobile-username" value="{{ userInfo.username }}">



<script src="../../public/js/jquery.js"></script>
<script src="../../public/js/admin.js"></script>
<script src="../../public/js/bootstrap.js"></script>
<script>

</script>
</body>
</html>