<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改密码</title>
    <link rel='stylesheet' href="/public/css/mobile.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <style>
        [name='upnav']{
            margin-bottom: 0;
            position: relative;
            width: 100vw;
        }
                    
    </style>
</head>
<body>
<nav class="navbar navbar-default" name='upnav'>
    <div id="back" class="sp11">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </div>
</nav>

<div id="content">
    <div class="form-group">
        <label for="mobile-opwd">输入旧密码：</label>
        <input type="password" class="form-control" id="mobile-opwd">    
    </div>
    <div class="form-group">
        <label for="mobile-npwd">输入新密码：</label>
        <input type="password" class="form-control" id="mobile-npwd">    
    </div>
    <div class="form-group">
        <label for="mobile-cpwd">再次输入新密码：</label>
        <input type="password" class="form-control" id="mobile-cpwd">    
    </div>
    <button class="btn btn-default mb" id="mobilep">提交</button>    
    <input class="mobile-username" value="{{ userInfo.username }}">
</div>






<script src="../../public/js/jquery.js"></script>
<script src="../../public/js/admin.js"></script>
<script src="../../public/js/bootstrap.js"></script>
<script>

</script>
</body>
</html>