<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>我的资料</title>
    <link rel='stylesheet' href="/public/css/mobile.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <style>
        [name='upnav']{
            margin-bottom: 0;
            position: relative;
            width: 100vw;
            display: flex;
            flex-wrap: wrap;
        }
                    
    </style>
</head>
<body>
<nav class="navbar navbar-default" name='upnav'>
    <div id="back" class="sp11">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </div>
    <div class="mobile-title">个人资料</div>
</nav>

<div id="user-content">
    <div class="user-img"></div>
{% for user in users %}
    
    {% if user._id == userInfo._id %}
    <div class="user-content">
        用户名：
        <div class="mla">{{ user.username }}</div>
    </div>
    <div class="user-content">
        昵称：
        <div class="mla">{{ user.name }}</div>
    </div>
    <div class="user-content">
        生日：
        <div class="mla">{{ user.birthday }}</div>
    </div>
    <div class="user-content">
        邮箱： 
        <div class="mla">{{ user.email }}</div>
    </div>
    <div class="user-des">
        简介： {{ user.describtion }}
    </div>
    {% endif %}
{% endfor %}
</div>






<script src="../../public/js/jquery.js"></script>
<script src="../../public/js/admin.js"></script>
<script src="../../public/js/bootstrap.js"></script>
<script>

</script>
</body>
</html>