<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="/public/css/content-style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <style>
        [name=upnav]{margin-bottom:0;border-bottom: 1px solid black;width: 100vw;}
    </style>
</head>
<body>
<!-- .visible-md .visible-lg -->
<div id="pc">
    <div>
        <nav class='navbar navbar-default' name='upnav'>
            <div class="row h50">
                <div class="col-md-1 col-lg-1 h50 curdiv" id="more" title="更多">
                    <span class="glyphicon glyphicon-menu-hamburger midb mida" aria-hidden="true"></span>
                </div>
                <div class='col-md-3 col-lg-3 h50 iconmid' id="user" title="个人中心">
                    <div class='midb'>
                        <span class="glyphicon glyphicon-user mida" aria-hidden="true"></span>
                    </div>
                </div> 
                <div class='col-md-3 col-lg-3 h50 iconmid' id="diary" title="记录心得">
                    <div class="midb">
                        <span class="glyphicon glyphicon-edit mida" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='col-md-3 col-lg-3 h50 iconmid' id="edit" title="习惯养成">
                    <div class="midb">
                        <span class="glyphicon glyphicon-list-alt mida" aria-hidden="true"></span>
                    </div>
                </div>   
                <div class="col-md-1 col-lg-1 h50 curdiv" aria-label="Left Align">
                    <span class="glyphicon glyphicon-plus midb mida" aria-hidden="true"></span>
                </div>
                <div class="col-md-1 col-lg-1 h50 curdiv" id="exit" title="退出登录">
                    <span class="glyphicon glyphicon-off midb mida" aria-hidden="true" title="退出登录"></span>
                </div>       
            </div>
        </nav>

    </div>
    <div class="flex">
        <div id="more-content">
            <div class="flex-s">
                <div class="contentChoice curdiv" id="choice1">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </div>
                    个人中心
                </div>
                <div id="forChoice1" class="forc">
                    <div class="forChoice curdiv" id="choice11">个人中心</div>
                    <div class="forChoice curdiv" id="choice12">编辑资料</div>
                    <div class="forChoice curdiv" id="choice13">修改密码</div>
                </div>
                <div class="contentChoice curdiv" id="choice2">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </div>
                    个人心得
                </div>
                <div id="forChoice2" class="forc">
                    <div class="forChoice curdiv" id="choice21">个人心得</div>
                    <div class="forChoice curdiv" id="choice22">添加心得</div>
                    <div class="forChoice curdiv" id="choice23">编辑心得</div>
                </div>
                <div class="contentChoice curdiv" id="choice3">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    </div>
                    Habit
                </div>
                <div id="forChoice3" class="forc">
                    <div class="forChoice curdiv" id="choice31">Habit</div>
                    <div class="forChoice curdiv" id="choice32">添加Habit</div>
                    <div class="forChoice curdiv" id="choice33">编辑Habit</div>
                </div>
                <div class="contentChoice curdiv" id="choice4">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                    </div>
                    关于我们
                </div>
                <div class="contentChoice curdiv" id="choice5">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </div>
                    退出登录
                </div>
            </div>
        </div>
        <div id="content">
        
        </div>
</div>
<!--mobile-->
<div id="mobile">
    <div id="mobile-content">
        还在写呢！
        <nav id="mobile-none" class="navbar navbar-default navbar-fixed-bottom vh10">
            <div class="vw34" id="mobile-user">
                <span class="glyphicon glyphicon-user mida" aria-hidden="true"></span>
            </div>
            <div class="vw33" id="mobile-diary">
                <span class="glyphicon glyphicon-edit mida" aria-hidden="true"></span>
            </div>
            <div class="vw33 active" id="mobile-edit">
                <span class="glyphicon glyphicon-list-alt mida" aria-hidden="true"></span>
            </div>
        </nav>
    </div>
</div>

<script src="../../public/js/jquery.js"></script>
<script src="../../public/js/admin.js"></script>
<script src="../../public/js/bootstrap.js"></script>
</body>
</html>