<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href="/public/css/content-style.css">
    <script src="../../public/js/jquery.js"></script>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <style>
        [name=upnav]{margin-bottom:0;border-bottom: 1px solid black;width: 100vw;}
    </style>
</head>
<body>
<!-- .visible-md .visible-lg -->
<div id="pc">
    <div>
        <nav class='navbar navbar-default' name='upnav'>
            <div class="row h50">
                <div class="col-md-1 col-lg-1 h50 curdiv" id="more" title="更多">
                    <span class="glyphicon glyphicon-menu-hamburger midb mida" aria-hidden="true"></span>
                </div>
                <div class='col-md-3 col-lg-3 h50 iconmid' id="user" title="个人中心">
                    <div class='midb'>
                        <span class="glyphicon glyphicon-user mida" aria-hidden="true"></span>
                    </div>
                </div> 
                <div class='col-md-3 col-lg-3 h50 iconmid' id="diary" title="记录心得">
                    <div class="midb">
                        <span class="glyphicon glyphicon-edit mida" aria-hidden="true"></span>
                    </div>
                </div>
                <div class='col-md-3 col-lg-3 h50 iconmid' id="edit" title="习惯养成">
                    <div class="midb">
                        <span class="glyphicon glyphicon-list-alt mida" aria-hidden="true"></span>
                    </div>
                </div>   
                <div class="col-md-1 col-lg-1 h50 curdiv" aria-label="Left Align" onclick="window.location.href='/admin/habit-write'">
                    <span class="glyphicon glyphicon-plus midb mida" aria-hidden="true"></span>
                </div>
                <div class="col-md-1 col-lg-1 h50 curdiv" id="exit" title="退出登录">
                    <span class="glyphicon glyphicon-off midb mida" aria-hidden="true" title="退出登录"></span>
                </div>       
            </div>
        </nav>

    </div>
    <div class="flex">
        <div id="more-content">
            <div class="flex-s">
                <div class="contentChoice curdiv" id="choice1">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    </div>
                    个人中心
                </div>
                <div id="forChoice1" class="forc">
                    <div class="forChoice curdiv" id="choice11">个人中心</div>
                    <div class="forChoice curdiv" id="choice12">编辑资料</div>
                    <div class="forChoice curdiv" id="choice13">修改密码</div>
                </div>
                <div class="contentChoice curdiv" id="choice2">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </div>
                    个人心得
                </div>
                <div id="forChoice2" class="forcc">
                    <div class="forChoice curdiv" id="choice21">个人心得</div>
                    <div class="forChoice curdiv" id="choice22">添加心得</div>
                </div>
                <div class="contentChoice curdiv" id="choice3">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    </div>
                    Habit
                </div>
                <div id="forChoice3" class="forcc">
                    <div class="forChoice curdiv" id="choice31">Habit</div>
                    <div class="forChoice curdiv" id="choice32">添加Habit</div>
                </div>
                <div class="contentChoice curdiv" id="choice4">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                    </div>
                    关于我们
                </div>
                <div class="contentChoice curdiv" id="choice5">
                    <div class="sp10">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </div>
                    退出登录
                </div>
            </div>
        </div>
        <div id="content" class="fixed">
            <div class="daily-title">Habit</div>  
            <div id="null">
                <span>还没开始写呢</span>
            </div>
        <script> 
            var i = 1 ;
        </script>
        {% for habit in habits %}
        <script>
            i = i + 1;
        </script>
        {% endfor %}
        <script>
            if(i === 1){
                $("#null").show();
                $("#content").css('height','100vh');
            }
            else{
                $("#null").hide();
                $("#content").css('height','calc(100vh + '+250*(i-2)+'px');
            }
        </script>
        {% for habit in habits %}
            <div class="habit">
                <input class="none" id="startdate" value="{{ habit.startdate }}">
                <script>
                    var startdate = $("#startdate").val();
                    var _d1 = new Date(startdate);
                    var _d2 = new Date();
                    var d1 = _d1.getTime();
                    var d2 = _d2.getTime();
                    var time = parseInt(Math.abs(d1-d2)/1000/60/60/24);
                </script>
                <div class="deleteHabit">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </div>
                <div class="habit-content" style="background:#{{ habit.color }}">
                    <div class="habit-ico">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    </div>
                    <div class="habit-des">
                        <div class="habit-title">{{ habit.name }}</div>
                        <div class="habitDes">{{ habit.describe }}</div>
                    </div>
                    <div class="habit-date">
                        <div class="habitDate">
                            <script>
                                $(".habitDate").html(time+"天")    
                            </script>
                        </div>
                        <div class="habitDatep">共计坚持</div>
                    </div>
                </div>
            </div>
        {% endfor %}    
        </div>
    </div>    
</div>
<!--mobile-->
<div id="mobile">
    <div id="mobile-title" class="flex now">
        <div id="showMore">
            <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
        </div>
        Habit
    </div>
    <div class="mobile-add" onclick="window.location.href='/admin/mobile-habit'">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
    </div>
    <div class="flex now over">
        <div id="mobile-more">
            <div class="more-UI">
                <div class="more-img"></div>
                <div class="more-p">
                {% for user in users %}
                    {{ user.name }}
                {% endfor %}
                </div>
            </div>
            <div class="more-choice" id="mChoice1">
                <div class="more-ico">
                    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                </div>
                我的资料
            </div>
            <div class="more-choice" id="mChoice2">
                <div class="more-ico">
                    <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
                </div>
                添加Habit
            </div>
            <div class="more-choice" id="mChoice3">
                <div class="more-ico">
                    <span class="glyphicon glyphicon-superscript" aria-hidden="true"></span>
                </div>
                添加心得
            </div>
            <div class="more-choice" id="mChoice4">
                <div class="more-ico">
                    <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
                </div>
                关于我们
            </div>
        </div>
        <div id="mobile-content" class="mobile-habit">
            <div class="jintianhaoleia">
                <div id="mobile-null">
                    <span>还没有一个Habit呢~</span>
                </div>
            <script> 
                var j = 1 ;
            </script>
            {% for habit in habits %}
            <script>
                j = j + 1;
            </script>
            {% endfor %}
            <script>
                if(j === 1){
                    $("#mobile-null").show(); 
                }
                else{
                    j = j + 1;
                    $("#mobile-null").hide();
                    $("#mobile-content").css('height','calc(100vh + '+160*(j-3)+'px - 60px');   
                }
            </script>
            {% for habit in habits %}
                <div class="Mhabit" style="background:#{{habit.color }}">
                    <div class="MdeleteHabit">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </div>
                    <div class="Mhabit-content">
                        <div class="Mhabit-ico">
                            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                        </div>
                        <div class="Mhabit-des">
                            <div class="Mhabit-title">{{ habit.name }}</div>
                            <div class="MhabitDes">{{ habit.describe }}</div>
                        </div>
                        <div class="Mhabit-date">
                            <div class="MhabitDate">
                                <script>
                                    $(".MhabitDate").html(time+"天")    
                                </script>
                            </div>
                            <div class="MhabitDatep">共计坚持</div>
                        </div>
                    </div>
                </div>
            {% endfor %}    
            <nav id="mobile-none" class="navbar navbar-default navbar-fixed-bottom vh10">
                <div class="vw34" id="mobile-user">
                    <span class="glyphicon glyphicon-user mida" aria-hidden="true"></span>
                </div>
                <div class="vw33" id="mobile-diary">
                    <span class="glyphicon glyphicon-edit mida" aria-hidden="true"></span>
                </div>
                <div class="vw33 active" id="mobile-edit">
                    <span class="glyphicon glyphicon-list-alt mida" aria-hidden="true"></span>
                </div>
            </nav>
        </div>
    </div>
</div>
<script src="../../public/js/admin.js"></script>
<script src="../../public/js/bootstrap.js"></script>
</body>
</html>