.myButt {
    outline: none;
    border: none;
    padding: 20px;
    display: block;
    margin: 50px auto;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    position: relative;
    border: 2px solid #fff;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    
}

.five {
    overflow: hidden;
    color: #fff;
}
.five .layer {
    
    color: #fff;
    position: absolute;
    top: -500px;
    width: 100%;
    left: 0;
    padding: 20px 0;
    background-color: #F44336;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
}
.five:hover .layer {
    top: 0;
}


body{margin: 0;padding: 0;border:0;overflow-y: scroll;}
#content{text-transform:uppercase;text-align:center;width: 100vw;background: url('./image/576006.jpg') no-repeat;background-size: 100% 100%;}

#intro{width: 100vw;height: 600px;}
#title{vertical-align: bottom;height: 300px;width: 100%;padding: 25px 100px 25px 100px;display: flex;flex-wrap: wrap;}
#login{display:none;}
#admin{display: none;}
#dl,#zc{background-color: #f8f8f8;height: 100%;}
#dl:hover{background-color: #e7e7e7}
#zc:hover{background-color: #e7e7e7}
#mobile-main{ background: url('./image/admin00.jpg') no-repeat;background-size: 100% 100%;display: flex;flex-wrap: wrap;}
#page1{background: url('./image/admin01.jpg') no-repeat;background-size: 100% 100%;}
#page2{background: url('./image/admin02.jpg') no-repeat;background-size: 100% 100%;}
#page3{background: url('./image/index3.jpg') no-repeat;background-size: 100% 100%;}
#page4{background: url('./image/index2.jpg') no-repeat;background-size: 100% 100%;}
#mobile{display: none;}


.three{width: 100%;height: 33.3333%;}
.ind-btn{width: 40px;height: 100%;}
.intro-p{height: 250px;}
.linkclass{width: 100%;height: 100%;}
.home{height:100%;position: absolute;left:0;}
.h100{height: 100%;}
.w100{width: 100%;}
.m100{padding-left:100px;}
.mauto{padding-left: calc(100% - 8em);}
.mauto1{padding-left: calc(100% - 13em);}
.mauto2{padding-left: calc(100% - 8em);}
.mauto3{padding-left: calc(100% - 6em);}

.title-title{margin: 0;width: 100%;height: 100px;line-height: 100px;font: 7rem bold;}
.title-mid{width: 100%;height: 30px;margin: 0;font-size:1.5em;}
.title-xl{width: 100%;height: 50px;margin: 0;font-size:1.5em}
.title-l{width: 100%;height: 40px;margin: 0;font-size:1.5em}
.under-bold{text-decoration: underline;font: 3rem bold;}
.under-italic{font-style: italic;text-decoration: underline;color:blue;cursor: pointer;}
.title{font-weight:bold;font-size:60px;padding-top:200px;text-transform: none;color:#fff;}
.title2{margin-left:100px;font-size:30px;font-style: italic;}
.title3{margin-left:100px;font-size:30px;font-weight: bold;}
.text{margin-left:100px;font-size:16px;}


@media only screen and (max-device-width:768px){
    #pc{display: none;}
    #mobile{display: inline;}
    .page{width: 100vw;height: 100vh;display: flex;flex-flow: row wrap;}
    .regB{outline:none;border:none;padding:20px;display:block;width:40vw;height: 20vh;margin-left:calc(50% - 20vw);
        margin-top:40%;border:10px solid #fff;cursor:pointer;background-color:transparent;
        overflow: hidden;color: #fff;font-size: 7rem;}
    .jian-xia{width: 420px;height: 80px;margin:0 auto;margin-left: calc(50% - 210px);margin-bottom: 8vh;background: url('./image/below-1.png') transparent no-repeat;cursor: pointer;align-self: flex-end;opacity: 1.4;}
    .jian-xia:hover{opacity: 0.7;}
    .jian-shang{width: 420px;height: 80px;margin:0 auto;margin-left: calc(50% - 210px);margin-top: 8vh;background: url('./image/up-1.png') transparent no-repeat;opacity: 1.5;cursor: pointer;align-self: flex-start;}
    .jian-shang:hover{opacity: 0.7;}
    .mobile-title-title{width:100%;font:3em bold;}
    .mobile-title-mid{font-size: 5rem;}
    .mobile-title-x{font-style: italic;font-size: 2em;}
    .mobile-title-y{font-weight: bold;font-size: 2em;}
    .mobile-under-italic{font-style: italic;text-decoration: underline;color:black;cursor: pointer;}
    .mobile-under-bold{text-decoration: underline;font: 1.5em bold;}
    .txt{width:100vw;height:calc(84vh - 160px);font-size: 7rem;color: #ffffff;}
    .mini{font-size: 5rem;}

}





  
