<!DOCTYPE html>
<html><head>
<meta charset="utf-8">
<title>阴天的web应用-首页</title>

<style>
body { margin: 0; padding: 0;background: black; overflow: hidden;}
#container{width: 100%;height: 600px;}
</style>

<link rel='stylesheet' href="/public/css/style.css">
<link rel='stylesheet' href="/public/css/bootstrap.css">



</head>

<body>
<!--  适配于电脑端用户 .visible-md .visible-lg  -->
<div class="visible-md visible-lg">
	<div id='content'>
		<nav class="navbar navbar-default" style="position:relative;margin-bottom: 0;">
			<button type="button" class="btn btn-default home" aria-label="Home" onclick="window.location.href='/'">
				<span class="glyphicon glyphicon-home" aria-hidden="true"></span>
			</button>	
		</nav>
		<div id='contain'>
			<div class="row" id='container'>
				<div class="col-md-4 col-lg-4 h100"></div>
				<div class="col-md-4 col-lg-4 h100">
					<div class="three w100"></div>
					<div class="three w100">
						
						<button class="myButt five" onclick="window.location.href='/login'">
							<div class="layer">立刻注册</div>
							马上体验
						</button>
					</div>
					<div class="three w100"></div>
				</div>
				<div class="col-md-4 col-lg-4 h100"></div>
			</div>
			
		</div>
	</div>
	<div id='intro' class="container-fluid">
		<div id='title'>产品特点 & 产品功能</div>
		<div class="row intro-p">
			<div class="col-md-4 col-lg-4 h100">
				特点
			</div>
			<div class="col-md-4 col-lg-4 h100">
				功能
			</div>
			<div class="col-md-4 col-lg-4 h100">
				？？
			</div>
		</div>
	</div>
</div>
<div class="hidden-md hidden-lg">
	<div id="mobile-main" class="page">
		<button class="regB" onclick="window.location.href='/login'">
			立刻注册
		</button>
		<div class="jian-xia" onclick="window.location.hash='#page1'"></div>
	</div>
	<div class="page" id="page1">
		<div class="jian-shang" onclick="window.location.hash='#mobile-main'"></div>
		<div class="txt">
			___________________标题！
		</div>
		<div class="jian-xia" onclick="window.location.hash='#page2'"></div>
	</div>
	<div class="page" id="page2">
		<div class="jian-shang" onclick="window.location.hash='#page1'"></div>
		<div class="txt">

		</div>
		<div class="jian-xia" onclick="window.location.hash='#page3'"></div>
	</div>
	<div class="page" id="page3">
		<div class="jian-shang" onclick="window.location.hash='#page2'"></div>
		<div class="txt"></div>
		<div class="jian-xia" onclick="window.location.hash='#page4'"></div>
	</div>
	<div class="page" id="page4">
		<div class="jian-shang" onclick="window.location.hash='#page3'"></div>
		<div class="txt"></div>
	</div>
</div>


<script src='../../public/js/jquery.js'></script>
<script src='../../public/js/bootstrap.js'></script>
<script src="../../public/js/main.js"></script>
<script>
	$('body').on('touchstart',function(e){
		startx = e.originalEvent.changedTouches[0].pageX;
		starty = e.originalEvent.changedTouches[0].pageY;
		$('.jian-shang').css('visibility','hidden');
		$('.jian-xia').css('visibility','hidden');
	});
	$('body').on('touchend',function(e){
		moveEndx = e.originalEvent.changedTouches[0].pageX;
		moveEndy = e.originalEvent.changedTouches[0].pageY;
		X = moveEndx - startx;
		Y = moveEndy - starty;
		$('.jian-shang').css('visibility','visible');
		$('.jian-xia').css('visibility','visible');
	})
</script>

</body></html>