<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>注册登录页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" media="screen" href="/public/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/public/css/st.css"/>
</head>
<body>

<div id="particles-js">
		<div class="login" id='login'>
			<div class="login-top">
				登录
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/public/css/image/name.png"/></div>
				<div class="login-center-input">
					<input type="text" name="userName" value="" placeholder="请输入您的用户名" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
					<div class="login-center-input-text">用户名</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/public/css/image/password.png"/></div>
				<div class="login-center-input">
					<input type="password" name="passWord"value="" placeholder="请输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
					<div class="login-center-input-text">密码</div>
				</div>
			</div>
			<div class="login-button" id='log-but'>
				登陆
			</div>
			<div class="mid"></div>
			<div class="mid">
				还没有账号？马上<a href="#" id='zc'>注册</a>!
			</div>
		</div>
		<div class="login" id='register' style='height: 600px;display:none' >
			<div class="login-top">
				注册
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/public/css/image/name.png"/></div>
				<div class="login-center-input">
					<input type="text" name="username" value="" placeholder="请输入您的用户名,不能使用汉字" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的用户名'"/>
					<div class="login-center-input-text">用户名</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/public/css/image/password.png"/></div>
				<div class="login-center-input">
					<input type="password" name="password" value="" placeholder="请输入您的密码,密码长度要大于6位" onfocus="this.placeholder=''" onblur="this.placeholder='请输入您的密码'"/>
					<div class="login-center-input-text">密码</div>
				</div>
			</div>
			<div class="login-center clearfix">
				<div class="login-center-img"><img src="/public/css/image/password.png"/></div>
				<div class="login-center-input">
					<input type="password" name="confirm" value="" placeholder="请再次输入您的密码" onfocus="this.placeholder=''" onblur="this.placeholder='请再次输入您的密码'"/>
					<div class="login-center-input-text">确认密码</div>
				</div>
			</div>
			<div class="login-button" id='reg-but'>
				注册
			</div>
			<div class="mid"></div>
			<div class="mid">
				已有账号？马上<a href="#" id='dl'>登录</a>!
			</div>
		</div>
		<div class="sk-rotating-plane"></div>
</div>

<!-- scripts -->
<script src='/public/js/jquery.js'></script>
<script src="/public/js/particles.min.js"></script>
<script src="/public/js/app.js"></script>
<script src="/public/js/main.js"></script>
<script type="text/javascript">
	function hasClass(elem, cls) {
	  cls = cls || '';
	  if (cls.replace(/\s/g, '').length == 0) return false; //当cls没有参数时，返回false
	  return new RegExp(' ' + cls + ' ').test(' ' + elem.className + ' ');
	}
	 
	function addClass(ele, cls) {
	  if (!hasClass(ele, cls)) {
	    ele.className = ele.className == '' ? cls : ele.className + ' ' + cls;
	  }
	}
	 
	function removeClass(ele, cls) {
	  if (hasClass(ele, cls)) {
	    var newClass = ' ' + ele.className.replace(/[\t\r\n]/g, '') + ' ';
	    while (newClass.indexOf(' ' + cls + ' ') >= 0) {
	      newClass = newClass.replace(' ' + cls + ' ', ' ');
	    }
	    ele.className = newClass.replace(/^\s+|\s+$/g, '');
	  }
	}
		document.querySelector(".login-button").onclick = function(){
				addClass(document.querySelector(".login"), "active")
				setTimeout(function(){
					addClass(document.querySelector(".sk-rotating-plane"), "active")
					document.querySelector(".login").style.display = "none"
				},800)
				setTimeout(function(){
					removeClass(document.querySelector(".login"), "active")
					removeClass(document.querySelector(".sk-rotating-plane"), "active")
					document.querySelector(".login").style.display = "block"	
				},3000)
		}
		
</script>
</body>
</html>