<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    <link rel='stylesheet' href="/public/css/content-style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel='stylesheet' href="/public/css/mobile.css">
    <style>
        [name='upnav']{
            margin-bottom: 0;
            position: relative;
        }
                    
    </style>
</head>
<body>
<div id="pc">
    <div id="back" class="sp11 curdiv"></div>
    success 
    下午回来写
</div>

<div id="mobile">
    <nav class="navbar navbar-default" name='upnav'>
        <div id="back" class="sp11">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
        </div>
    </nav>
    <div id='content' style="height:100vh">
        <div id='success'>
            
            <div>
                <span>操作成功</span>
            </div>
        </div>
    </div>
</div>
<script src="../../../public/js/jquery.js"></script>
<script src="../../../public/js/admin.js"></script>
<script src="../../../public/js/bootstrap.js"></script>
</body>
</html>