<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
    <title>Create</title>
    <link rel='stylesheet' href="/public/css/content-style.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <style>
        [name='upnav']{
            margin-bottom: 0;
            position: relative;
        }
                    
    </style>
</head>
<body>
<nav class="navbar navbar-default" name='upnav'>
    <button type="button" class="btn btn-default back" aria-label="Left Align" onclick="window.location.href='/admin'">
        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </button>
</nav>
<div id='content' style="height:100vh">
    <div id='success'>
        <div id='img'></div>
        <div>
            <span>success</span>
        </div>
    </div>
</div>
<script src="../../../public/js/jquery.js"></script>
<script src="../../../public/js/bootstrap.js"></script>
</body>
</html>